@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#jenkins-home-link > img[id*=jenkins] {
    display: none;
}

#header {
    padding-top: 4px;
    height: 72px;
    background-color: #272727;
}

#header .login {
    position: relative;
    top: 18px;
    color: white;
    margin-right: 10px;
}
#header .searchbox {
    float: right;
    padding: 6px 11px;
    top: 13px;
    position: relative;
}

#jenkins-home-link {
    text-decoration: none;
}

#heading-text {
    margin-left: 8px;
    font-size: 18px;
    color: #E4BC55;
}

#search-box {
    border: 0; border-radius: 0;
}

#breadcrumbBar, #breadcrumbBar div, #breadcrumbBar div a, .breadcrumbBarAnchor {
    background-color: #91C0C9;
    color: #FFF !important;
}

#side-panel .task img {
    width: 18px !important;
    height: 18px !important;
}

#side-panel .task {
    font-size: 11px;
    margin: 0;
}

#side-panel, #side-panel:hover, #buildQueue, #buildQueue:hover, #executors, #executors:hover {
    border: 0 !important; border-radius: 0 !important;
}

#side-panel {
    border-right: 1px solid #91C0C9 !important;
}


#side-panel .pane-header, #side-panel .pane-header a {
    text-decoration: none;
    text-transform: lowercase;
    border: 0 !important; border-radius: 0 !important;
    background: none;
    color: #3D7D8C;
    font-size: 12px;
    letter-spacing: 2px;
}

.job-status-nobuilt td:nth-child(3) a {
    color: #333;
    text-decoration: none;
}

.job-status-blue td:nth-child(3) a {
    color: green;
    text-decoration: none;
}

.job-status-red td:nth-child(3) a {
    color: red;
    text-decoration: none;
}

#projectstatus-tabBar .tabBar {
    border-bottom: 1px solid #C9E5EA;
    margi-top: 0;
    margin-bottom: 5px;
}

#projectstatus-tabBar .tabBar .tab.active a {
    background: none;
    border: 0;
    border-bottom: 3px solid #F8C553;
}

#projectstatus-tabBar .tabBar .tab a {
    background: none;
    border: 0;
}

.dashboard .pane-frame {
    border: 0;
    border-radius: 0;
}

#projectstatus {
    border: 0;
    border-radius: 0;
}

#projectstatus tr:not(:first-child) {
    border-top: 1px solid #C9E5EA;
    border-bottom: 1px solid #C9E5EA;
}

#projectstatus > tbody > tr.header, #projectstatus > tbody > tr.header > th {
    padding-left: 3px;
    border: 0;
    background-color: #EFFCFF;
}

#projectstatus tr.header a, #projectstatus tr.header a span {
    color: #3D7D8C;
    font-size: 12px;
    letter-spacing: 2px;
}

#view-message #description {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #74CCE0;
    background-color: rgba(197, 223, 229, 0.4);
}

#description-link {
    color: #3D7D8C;
    text-decoration: none;
}

#description-link img {
    width: 24px !important; height: 24px !important;
    padding: 5px;
}